<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="Paul Hollyer, paul@hollyer.me.uk">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&family=Roboto+Mono:wght@100;400&family=Varela+Round&family=Oswald&display=swap" rel="stylesheet">

    <title></title>
  </head>


  <body style="height: 100vh; width: 100vw;"
        id="body"
        data-csrf="<%= Plug.CSRFProtection.get_csrf_token()%>"
        data-version="<%= Application.spec(:wtmitu, :vsn) |> to_string() %>" >

        <div id="elm-app-container"
             style="height: 100vh; width: 100vw;">
        </div>

    <script type="text/javascript" src='<%= Routes.static_path(@conn, "/js/app.js") %>'></script>
  </body>
</html>
